<h2><%= post.title %></h2>
<p>Last edited <%= post.updated_at %></p>
<p><%= post.content.html_safe %></p>
<% if logged_in? %>
    <% if post.attachments.length > 0 %>
	<%= button_to "Edit post", edit_post_path(:id => post.id), :method => :get %>
	<%= button_to "Delete post", post_path(:id => post.id), :method => :delete, data: { confirm: 'Are you sure?' } %>
	
	<p>Attachments</p>
	<%= render post.attachments %>
    <% end %>
<% end %>
