<div id="post-<%= post.id %>">
    <h2><%= post.title %></h2>
    <p>Last edited <%= post.updated_at %></p>
    <p><%= post.content.html_safe %></p>
    <% if logged_in? %>
	<%= button_to "Edit", edit_post_path(:id => post.id), :method => :get, remote: true %>
	<%= button_to "Delete", post_path(:id => post.id), :method => :delete, remote: true, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
