<div id="mid">
    <%= render @posts %>
</div>

<%= form_for @post, authenticity_token: true, remote: true do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.label :section %><br>
    <%= f.text_field :section, value: :about%>
    <%= f.submit %>
<% end %>
